<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Insurance Bazar</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
      <br> <br> <br>
			<div class="jumbotron">
        <br> <br> <br>
				<h2>
					Hey <%= user%>
				</h2>
				<p>
					You are being redirected to the Payment Gateway
          <br>
          <h5> Please do not refresh your page at this time </h5>
				</p>

			</div>
			<div class="btn-group">

				<a class="btn btn-default" type="button" href="/" style="text-decoration:none;">
					 Home
				</a>
				<a class="btn btn-default" type="button" href="/user_home" style="text-decoration:none;">
				 My Account
       </a>
				<a class="btn btn-default" type="button" href="/logout" style="text-decoration:none;">
					 LogOut
				</a>
			</div>
		</div>
	</div>
</div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
