<html>
    <head>
        <title>My Account</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://whitehousepawprints.com/wp-content/uploads/2017/05/family-2.jpg">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    </head>
    <style>
        .img{
            background: url('https://whitehousepawprints.com/wp-content/uploads/2017/05/family-2.jpg');
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
 width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
        }
         
    </style>
    <div class="img">
    <body style="background-image:url(https://whitehousepawprints.com/wp-content/uploads/2017/05/family-2.jpg);background-size: cover; blur:">
        </div>
        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Insurance Bazar</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">My Policies <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
 </nav>
  <br><br><br><br>&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="container" style="color: white;padding-top: 0px; margin-left: auto; height: 20em; width:50em; background-color: rgba(100,100,100,0.1); overflow-y:auto; border-radius: 5px">
            <h3 style="color:White font-size:13px">Hello <%= user%></h3>
     <h2>Your claim has been processed!</h2>
 
        </div>
    </body>
</html>




